
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}
header {
    text-align: center;
    padding: 20px;
    background-color: #6e8acc;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}

header h1 {
    font-size: 28px;
}

header h2 {
    margin-top: 10px;
    font-weight: normal;
}


section {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


section h2 {
    color: #b73a64;
    margin-bottom: 10px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table th, table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

table th {
    background-color: #381f67;
    color: white;
}

table tr:hover {
    background-color: #f1f1f1;
}


h3 {
    margin-top: 10px;
    color: #333;
}

/* Contact Section */
#contact p {
    margin: 5px 0;
}

/* Horizontal Line */
hr {
    margin: 15px 0;
    border: none;
    height: 1px;
    background: #181717;
}